
@{
    ViewBag.Title = "Erro";
}

<h2>Erro</h2>


<marquee><h2><strong>@ViewData["Exception"]</strong></h2></marquee>

<br />
@Html.ActionLink("Novo Cálculo", "TesteIndex", "Simplex", new { @class = "btn btn-primary" })
