@model PerSymplex.Models.HeaderSimplex

@{
    ViewBag.Title = "Tabela Inicial";
}

<table class="table table-responsive" cellpadding="0px" cellspacing="0px" style="border:0px">
    <caption>Tabela Inicial</caption>
        @if (Model != null)
        {
            for (int i = 0; i < Model.Matriz.GetLength(0); i++)
            {
                <tr>
                    @for (int j = 0; j < Model.Matriz.GetLength(1); j++)
                    {
                        <td align="center">
                            @Model.Matriz[i, j]
                            @*<input type="text" value="@Model.Matriz[i, j]" size="6px" style="text-align:center"/>*@
                        </td>
                    }
                </tr>
            }
        }
</table>