/*----------GERAL----------*/

body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
section{
    margin-bottom: -1px;
}
section h1{
	margin-bottom: 60px;
}
section p{
    font-size: 22px;
}
.container-fluid{
    padding: 0px;
}
h1, h5{
    font-weight: bold;
}

@media(max-width: 768px){
    .container{
        width: initial;
    }
}


/*----------MENU----------*/
.cabecalho{
    background: #000;
}
.logo{
    font-weight: bold;
    font-size: 24px;
}
.menu a{
    color: #fff !important;
}
.menu li{
    font-size: 16px;
}

/*----------INICIO----------*/

#inicio{
    background: #333;
    color: #fff;
    padding-top: 120px;
}
.conheca-projeto{
    margin-top: 50px;
    border-radius: 0;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    border: 2px solid #ffd203;
    color: #ffd203;
}
.conheca-projeto:hover, .conheca-projeto:focus{
    color: #333;
    background: #ffd203;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
.george{
    border: 1px solid #fff;
    padding: 8px;
}

/*----------PERSYMPLEX----------*/
#persymplex{
    background: #ffd203;
}
.get-started{
	margin-top: 50px;
    border-radius: 0;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    border: 2px solid #333;
    color: #333;
}
.get-started:hover, .get-started:focus{
    color: #ffd203;
    background: #333;
     transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
/*----------EQUIPE----------*/

#equipe{
    padding-bottom: 100px
}
.membro h4{
    margin-top: 20px;
}
.membro .foto{
	width: 200px;
}
.icone{
    margin: 10px 0px 30px 0px;
}
.icone img{
    max-width: 40px;
}

/*----------FOOTER----------*/
footer{
	background: #1a1a1a;
	color: #fff;
	width: 100%;
	margin: 0;
	padding: 30px 0px 20px 0px;
    margin-top: -6px;
}

/*----------FUNÇÃO----------*/
.inicio-simplex{
    padding-top: 130px;
    text-align: center;
}
.calcular{
    margin: 30px 0px;
    text-align: center;
}
.funcao{
    width: 100%;
    display: block;
}
.funcao li{
    display: inline-flex;
    margin: 5px;
}
.maximizar{
    margin-top: 30px;
}
.restricoes{
    margin: 20px;
    padding-bottom: 20px;
}
.restricoes div{
    background: yellow;
}
.input-valor{
    margin: 5px;
}

/*----------RESULTADO----------*/
.table-bordered{
    margin-top: 20px;
}
.container-simplex{
    padding-top: 110px;
}

.exibir-calculos, .novo-calculo{
    border-radius: 0px;
    border: none;
    background: #ffd203;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}
.row-novo-calculo{
    margin: 30px 0px;
    text-align: center;
}
.exibir-calculos:hover, .exibir-calculos:focus, .novo-calculo:hover, .novo-calculo:focus{
    background: #333;
    color: #ffd203;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}



